<div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">
            <img class="img-fluid rounded" width="100" src="https://dummyimage.com/250x250/e2e2e2/fff.jpg&text=Profile" />
            <p class="mb-0 mt-2">Jitan Gupta</p>
            <p class="mb-0">Full Stack Engineer</p>
          </li>
          <li class="list-group-item">Contains last post engagement details</li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Got somthing in mind</h5>
          <p class="card-text">Start a post...</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
