<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <h3 class="ps-3 pt-2">People</h3>
        <div class="card-body people-card border-top">
          <div class="d-flex">
            <div class="profile-image me-3">
              <img class="border rounded-circle" src="https://dummyimage.com/250x250/e2e2e2/fff.jpg&text=Profile" />
            </div>
            <div class="position-relative profile-detail">
              <h5 class="card-title mb-0">Nirav Jethava</h5>
              <p class="card-text mb-0">Asp.net MVC Developer at InnitiIT</p>
              <p class="card-text"><small class="text-muted">Ahmedabad</small></p>
              <button type="button" class="btn btn-outline-primary btn-sm position-absolute top-0 end-0 me-2 rounded-pill">Connect</button>
            </div>
          </div>
        </div>
        <div class="card-body people-card border-top">
          <div class="d-flex">
            <div class="profile-image me-3">
              <img class="border rounded-circle" src="https://dummyimage.com/250x250/e2e2e2/fff.jpg&text=Profile" />
            </div>
            <div class="position-relative profile-detail">
              <h5 class="card-title mb-0">Nirav Makati</h5>
              <p class="card-text mb-0">.Net MVC, .Net Core, WPF, WCF, Web API, Angular, JQ...</p>
              <p class="card-text"><small class="text-muted">Ahmedabad</small></p>
              <button type="button" class="btn btn-outline-primary btn-sm position-absolute top-0 end-0 me-2 rounded-pill">Connect</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
